.brands {
  width: 100%;
  padding: 30px 0 60px;
  background: #f6f7f8;
}

.w100 {
  width: 100%;
}

.bgGreySpecial {
  background-color: #e0e0e0;
  padding: 7px 0 0 0;
}

.widget-title {
  text-align: center;
  padding: 16px 0 20px;
  overflow: hidden;
}

.brands .tab-menu {
  border: 1px solid #000;
  background: none;
  max-width: 70%;
  height: 38px;
  line-height: 36px;
  margin: 0 auto 60px;
  overflow: hidden;
  border-radius: 30px;
  text-align: center;
}

.brands .brands-inner {
  max-width: 1194px;
  margin: 0 auto;
}

.brands .tab-menu li.selected {
  background: #000;
  border-radius: 30px;
  color: #fff;
}

.brands .tab-menu li:hover {
  /* color: #000; */
}

.brands .tab-menu li {
  display: inline-block;
  list-style: none;
  /* float: left; */
  width: calc(20% - 0px);
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #777;
  -webkit-transition: all 0.15s ease, color 0.15s ease;
  transition: all 0.15s ease, color 0.15s ease;
}

.brands ul li {
  list-style: none;
  display: inline-block;
}

.brands .tab-menu {
  padding-left: 0px;
  padding-right: 0px;
  /* border: 1px solid #000;
    background: none;
    max-width: 70%;
    height: 38px; */
  line-height: 36px;
  /* margin: 0 auto 60px;
    overflow: hidden;
    border-radius: 30px; */
}

.product-item .product-top .product-image {
  position: relative;
  width: fit-content;
  margin: auto;
  max-height: 100%;
  overflow-y: hidden;
  text-align: center;
  overflow: hidden;
  /* background: #efefef; */
}

.tab-contents .brand-tab-content .grid-item {
  width: 25%;
  float: left;
  padding: 0 13px;
}

.brand-tab-content .product-item .product-top {
  margin-bottom: 10px;
}

.showNone {
  display: none;
}

.showDisplay {
  display: inline-block;
}

.ucImgSize {
  width: 150px !important;
  height: 150px !important;
}

.owl-nav {
  z-index: 1;

  position: absolute;
  top: 258px;
  width: 350px;
  left: 72px;
}

/* .owl-nav {
	position: absolute;
	top: 31%;
    left: 35%;
    margin-left: 50%;
} */

.owl-prev,
.owl-next {
  font-size: 48px;
  color: #b7b7b7;
}

.owl-prev {
  float: left;
  cursor: pointer;
}

.owl-dot {
  cursor: pointer;
}

.owl-next {
  cursor: pointer;
  float: right;
}

.imgPos {
  position: relative;
}

.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #b7b7b7;
  display: inline-block;
  margin: auto 5px;
}

.owl-dots {
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
}

.mySlidesR {
  display: none;
}

.activeRed {
  background: #fff;
}

.imgDiv {
  position: relative;
  text-align: center;
  /* color: white; */
}

.textcenteredInImg2 {
  position: absolute;
  width: 100%;
  /* font-weight: 700; */
  font-size: 1.1rem !important;
  top: 50%;
  color: #000;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textcenteredInImg {
  position: absolute;
  width: 100%;
  /* font-weight: 700; */
  font-size: 0.9rem !important;
  top: 50%;
  color: #000;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1279px) and (min-width: 781px) {
  .brands .tab-menu {
    max-width: 80%;
  }
}

@media (max-width: 780px) {
  .brands {
    padding: 20px 0 20px 20px;
  }
}

@media (max-width: 767px) {
  .template-index .main-content .shopify-section {
    margin: 0;
    padding: 0 0 20px 0;
  }
}

@media (min-width: 768px) {
  .d-b-bigger-768 {
    display: block;
  }

  .d-none-768 {
    display: none;
  }
}

@media (max-width: 767px) {
  .d-b-smaller-767 {
    display: block;
  }

  .d-none-767 {
    display: none;
  }

  .owl-nav {
    position: absolute;
    top: 258px;
    width: 310px;
    left: 72px;
  }

  .owl-nav {
    left: 41%;
    margin-left: -90px;
  }
}

@media (max-width: 600px) {
  .owl-nav {
    position: absolute;
    top: 258px;
    width: 310px;
    left: 72px;
  }

  .owl-nav {
    left: 39%;
    margin-left: -90px;
  }
}

@media (max-width: 500px) {
  .owl-nav {
    position: absolute;
    top: 258px;
    width: 310px;
    left: 72px;
  }

  .owl-nav {
    left: 37%;
    margin-left: -90px;
  }
}

@media (max-width: 414px) {
  .owl-nav {
    position: absolute;
    top: 258px;
    width: 310px;
    left: 72px;
  }

  .owl-nav {
    left: 34%;
    margin-left: -90px;
  }

  .mb-0-max414 {
    margin-bottom: 0px !important;
  }
}

@media (max-width: 375px) {
  .owl-nav {
    position: absolute;
    top: 258px;
    width: 310px;
    left: 72px;
  }

  .owl-nav {
    left: 32%;
    margin-left: -90px;
  }
}

@media (max-width: 320px) {
  .owl-nav {
    position: absolute;
    top: 258px;
    width: 310px;
    left: 72px;
  }

  .owl-nav {
    left: 28%;
    margin-left: -84px;
  }
}
