/* use cases */
.li-mt-50 {
  margin-top: 50px;
}

.text-mt-30 {
  margin-top: 30px;
}

.w100-text-pref {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 400;
}

.desc-pd-7 {
  padding: 7px;
}

.text-pb-7-mb {
  padding-bottom: 7px;
}

.textFixOverImg {
  /* font-weight: 1000px !important; */
  letter-spacing: 0.05em;
  color: white !important;
  text-transform: uppercase;
  /* padding: 7px 0 0 0; */
}

.fw900 {
  font-weight: 900;
}

.htw-btn {
  padding: 0.5rem 1rem;
}

.htw-selected {
  /* border-bottom: 2px solid black;
  width: fit-content; */
  width: fit-content;
  background-color: #263458;
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
  color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.35s ease-out, box-shadow 0.35s ease-out;
  color: #59687c;
  font-weight: 700;
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 414px) {
  .col-sm-30-prec {
    text-align: center;
    width: 30% !important;
  }

  /* #htw-selected2 {
    font-size: 1rem !important;
  }

  #htw-selected1 {
    font-size: 1rem !important;
  } */
}

@media (max-width: 320px) {
  /* #htw-selectedMB1 {
    width: 100px;
  }

  #htw-selectedMB2 {
    width: 120px;
  } */
  /* .col-sm-30-prec {
    text-align: center;
    width: 15% !important;
  } */
}
